button {
  background-color: rgb(223, 154, 255);
  color: rgb(0, 0, 0);
  margin: 15px;
  border: 1px rgb(188, 109, 225) solid;
  padding: 0.5rem;
  width: 120px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s;
}
button:hover {
  background-color: rgb(188, 109, 225);
  color: rgb(255, 255, 255);
}
.active {
  background-color: rgb(149, 109, 225);
}
