body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
a {
  text-decoration: none;
  color: rgb(84, 19, 67);
  transition: 0.2s;
}
a:hover {
  color: rgb(184, 36, 144);
  transition: 0.2s;
}
nav {
  font-size: 18px;
  background-color: rgb(255, 229, 233);
  padding: 2em;
}
.logo {
  height: 3em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.lista_prendas {
  list-style: none;
  margin-bottom: 2rem;
}
.lista_prendas ul {
  list-style-type: none;
  line-height: 1.8rem;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.pai_natal {
  max-width: 150px;
  margin: 2rem 0;
}

footer {
  margin-top: 2rem;
  background-color: rgb(255, 229, 233);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 35s linear;
  }
}

.card {
  padding: 2em;
  background-color: plum;
}

.read-the-docs {
  color: #888;
}
