/* Josefin Slab */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");
/* Geologica */
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");
:root {
  --grey: #424b54;
  --purple: #b38d97;
  --pink: #d5aca9;
  --off-white: #fbefe2;
  --beige: #edd7bf;
}

* {
  box-sizing: border-box;
}
body {
  background-color: var(--off-white);
  padding-left: 5%;
  padding-right: 5%;
}
/* Navbar */

.nav-link {
  font-family: Geologica, sans-serif;
  color: var(--grey);
  font-size: 1.1rem;
  text-decoration: none;
  transition: 0.3s;
  margin-right: 20px;
  margin-left: 20px;
}
.nav-link:hover {
  color: var(--purple);
  transition: 0.3s;
}
.navbar-collapse {
  text-align: center;
  justify-content: center;
}
.navbar-brand {
  font-family: "Josefin Slab", serif;
  display: block;
  text-align: center;
  color: var(--grey);
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
  margin: 0;
}
.navbar-brand:hover {
  color: var(--purple);
  transition: 0.3s;
  transition: 0.3s;
}

/* Main */
/*Section INTRO*/
.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
#img_intro {
  max-width: 60%;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
}
.intro p {
  font-family: Geologica, sans-serif;
  color: var(--grey);
  font-size: 1.2rem;
  line-height: 1.5;
}
.intro_text {
  padding: 0;
}

/* Section CARDS RECEITAS */

.cards_receitas {
  margin-bottom: 5%;
}
.cards_column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.cards_row {
  margin: 0 -5px;
}

.cards_row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(80, 70, 10, 0.2);
  padding: 16px;
  text-align: center;
  background-color: var(--beige);
  align-items: center;
  transition: 0.3s ease;
}
.card:hover {
  box-shadow: 0 8px 10px 0 rgba(80, 70, 10, 0.3);
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.card h2 {
  font-family: "Josefin Slab", serif;
  color: var(--grey);
  font-size: 2rem;
}
.card img {
  max-width: 80%;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 3%;
}
.card p {
  font-family: Geologica, sans-serif;
  color: var(--grey);
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 15px;
}

.card button {
  font-family: Geologica, sans-serif;
  border: none;
  outline: 0;
  padding: 12px;
  color: var(--off-white);
  background-color: var(--purple);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
  transition: 0.2s ease;
  border-radius: 10px;
}

.card button:hover {
  background-color: var(--pink);
  transition: 0.2s ease;
}
