/* Josefin Slab */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");
/* Geologica */
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");
:root {
  --grey: #424b54;
  --purple: #b38d97;
  --dark-purple: #7c5661;
  --pink: #d5aca9;
  --off-white: #fbefe2;
  --beige: #edd7bf;
  --light-beige: #fff4e9;
}
/* ============ */
/* GENERAL */
/* ============ */
* {
  box-sizing: border-box;
}
body {
  background-color: var(--off-white);
  padding-left: 5%;
  padding-right: 5%;
  color: var(--grey);
  font-family: Geologica, sans-serif;
}
p {
  font-family: Geologica, sans-serif;
}
h1 {
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  font-size: 40px;
}
h2 {
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  font-size: 36px;
}
h3 {
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  font-size: 32px;
}
h4 {
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  font-size: 28px;
}
h5 {
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  font-size: 24px;
}
a {
  text-decoration: none;
}
/* ============ */
/* NAVBAR */
/* ============ */
.nav-link {
  font-family: Geologica, sans-serif;
  color: var(--grey);
  font-size: 1.1rem;
  text-decoration: none;
  transition: 0.3s;
  margin-right: 20px;
  margin-left: 20px;
}
.nav-link:hover {
  color: var(--purple);
  transition: 0.3s;
}
.navbar-collapse {
  text-align: center;
  justify-content: center;
}
.navbar-brand {
  font-family: "Josefin Slab", serif;
  display: block;
  text-align: center;
  color: var(--grey);
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
  margin: 0;
}
.navbar-brand:hover {
  color: var(--purple);
  transition: 0.3s;
  transition: 0.3s;
}
.navbar_icon {
  width: 80px;
  margin-right: 10px;
  transition: 0.3s;
}
.navbar_icon:hover {
  transition: 0.3s;
  filter: drop-shadow(2px 4px 3px rgb(179, 141, 151, 0.5));
}

/* ============ */
/* INDEX */
/* ============ */
.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
#img_intro {
  width: 70%;
  max-height: 400px;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
}
@media (max-width: 768px) {
  #img_intro {
    width: 50%;
  }
}
.intro p {
  color: var(--grey);
  font-size: 1.2rem;
  line-height: 1.5;
}
.intro_text {
  padding: 0;
}
.recipe_cards_title {
  text-align: center;
}
.card {
  color: var(--grey);
  box-shadow: 0 4px 8px 0 rgba(80, 70, 10, 0.2);
  padding: 16px;
  text-align: center;
  background-color: var(--beige);
  align-items: center;
  transition: 0.3s ease;
  margin-top: 2%;
  margin-bottom: 2%;
}
.card-text {
  text-align: left;
}
.card:hover {
  box-shadow: 0 8px 10px 0 rgba(80, 70, 10, 0.3);
}
.card h2 {
  font-family: "Josefin Slab", serif;
  color: var(--grey);
  font-size: 2rem;
}
.card img {
  max-width: 80%;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 3%;
}
.card p {
  font-family: Geologica, sans-serif;
  color: var(--grey);
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 15px;
}
.card .botao {
  font-family: Geologica, sans-serif;
  font-size: 15px;
  text-align: center;
  color: var(--gray);
  background-color: var(--pink);
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  padding: 12px;
  cursor: pointer;
  transition: 0.2s ease;
}
.card .botao:hover {
  background-color: var(--purple);
  color: var(--off-white);
  transition: 0.2s ease;
}
.card .botao:active {
  background-color: var(--dark-purple);
}
.container_recipe_cards_button {
  margin-top: 2%;
  margin-bottom: 2%;
  align-items: center;
  text-align: center;
}
@media (max-width: 768px) {
  .container_recipe_cards_button {
    margin-top: 5%;
  }
}
.recipe_cards_button {
  margin-top: 5%;
  text-decoration: none;
  font-family: Geologica, sans-serif;
  font-size: 18px;
  text-align: center;
  color: var(--gray);
  background-color: var(--pink);
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  padding: 15px;
  cursor: pointer;
  transition: 0.2s ease;
}
.recipe_cards_button:hover {
  background-color: var(--purple);
  color: var(--off-white);
  transition: 0.2s ease;
}
.recipe_cards_button:active {
  background-color: var(--dark-purple);
}
/* ============ */
/* RECIPES */
/* ============ */
.card-title-recipes {
  color: var(--grey);
  text-align: left;
}
@media (max-width: 768px) {
  .card-title-recipes {
    text-align: center;
  }
}
.title_recipes {
  margin-top: 3%;
  text-align: center;
}
/* ============ */
/* RECIPE */
/* ============ */

.recipe_info {
  border: 1px solid var(--pink);
  width: 100%;
  text-align: center;
}
.recipe_info th,
.recipe_info td {
  padding: 10px;
  border: 1px solid var(--pink);
}
.ingredients_utensils_recipe {
  margin-top: 5%;
  text-align: left;
}
.accordion-body {
  background-color: var(--light-beige);
}
.accordion-button {
  background-color: var(--beige);
  border: 1px solid var(--pink);
  border-radius: 5px;
  font-size: 22px;
}
.accordion-button:not(.collapsed) {
  font-size: 22px;
  background-color: var(--pink);
  color: var(--off-white);
  font-weight: bold;
}
.accordion-button:focus {
  box-shadow: 0 0 0 0.25rem rgba(179, 141, 151, 0.5);
}
.images_recipe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.carousel-inner {
  max-width: 400px;
}
/* ============ */
/* FOOTER */
/* ============ */
hr {
  margin-top: 5%;
  border-top: 3px solid var(--purple);
  border-radius: 5px;
}
footer {
  margin-bottom: 3%;
}
.form_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.form_footer h4 {
  font-family: Josefin slab, serif;
  color: var(--grey);
}
.form_footer input {
  font-family: Geologica, sans-serif;
  padding: 7px;
  background-color: var(--beige);
  border: 1px solid var(--pink);
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.form_footer input[type="text"] {
  width: 80%;
}
.container_checkmark_footer {
  font-family: Geologica, sans-serif;
  color: var(--grey);
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container_checkmark_footer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark_footer {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--beige);
}
.container_checkmark_footer:hover input ~ .checkmark_footer {
  background-color: var(--pink);
}
.container_checkmark_footer input:checked ~ .checkmark_footer {
  background-color: var(--purple);
}
.checkmark_footer:after {
  content: "";
  position: absolute;
  display: none;
}
.container_checkmark_footer input:checked ~ .checkmark_footer:after {
  display: block;
}
.container_checkmark_footer .checkmark_footer:after {
  left: 10px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid var(--off-white);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.form_footer button {
  width: 30%;
  font-family: Geologica, sans-serif;
  font-size: 15px;
  text-align: center;
  color: var(--gray);
  background-color: var(--pink);
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  padding: 12px;
  cursor: pointer;
  transition: 0.2s ease;
}
.form_footer button:hover {
  background-color: var(--purple);
  color: var(--off-white);
  transition: 0.2s ease;
}
.form_footer button:active {
  background-color: var(--dark-purple);
}
.footer_middle {
  font-family: Geologica, sans-serif;
  color: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
.footer_middle a {
  font-family: Geologica, sans-serif;
  color: var(--grey);
  font-size: 1rem;
  text-decoration: none;
  margin: 0 10px;
  transition: 0.3s;
}
.footer_middle a:hover {
  color: var(--purple);
  transition: 0.3s;
}
.footer_right {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
.social_media_icons {
  max-width: 50px;
  transition: 0.2s ease;
}
.social_media_icons:hover {
  filter: drop-shadow(2px 4px 3px rgb(179, 141, 151, 0.5));
  transform: scale(1.1);
  transition: 0.2s ease;
}
