.calculadora {
  max-width: 400px;
  background-color: rgb(255, 245, 247);
}
#display {
  width: 100%;
  max-width: 393px;
  height: 75px;
  background-color: rgb(244, 233, 253);
  border: 1px solid rgb(222, 188, 253);
  color: rgb(50, 30, 69);
  font-size: xx-large;
}
.fila_um,
.fila_dois,
.fila_tres,
.fila_quatro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
}
button {
  width: 95px;
  height: 75px;
  font-size: large;
  font-weight: bold;
  background-color: rgb(230, 203, 255);
  border: 1px solid rgb(196, 132, 255);
  color: rgb(50, 30, 69);
  transition: 0.2s ease;
}
button:hover {
  background-color: rgb(211, 163, 255);
}
button:active {
  background-color: rgb(201, 144, 255);
}
